/*mega menu*/
.mega-menu {left: 0;right: 0;padding: 15px;display:none;padding-top: 0;min-height: 100%;box-shadow:0px 0px 5px 0px #ccc;padding-bottom: 0;background: url('../images/header-bg.jpg');background-size: cover;background-repeat: no-repeat;height: 48vh;}
@keyframes blinking {
    0% {
      background-color: #f1c9af;
      /* border: 3px solid #f1eb90; */
    }
    100% {
      background-color: #f1eb90;
    }
  }
  .mega-menu {
    animation: blinking 10s infinite;
  }
.nav-item:hover .mega-menu {display: block;}
h4.mega-title {color: #000;margin-top: 0px;font-size: 14px;padding-bottom: 13px;text-transform: uppercase;border-bottom: 1px solid #999;padding-top: 8px;font-weight: bold;text-align: left;}
.mega-menu ul {margin-bottom: 0rem;}
.mega-menu ul li a {line-height: 35px;font-size: 90%;display: block;color: #4c4c4c;text-align: left;padding-left: 1rem;border-bottom:1px solid #cccccc47;position: relative;}
.mega-menu ul li{position: relative;}
/* .mega-menu ul li::before{position: absolute;top: 0;left: 0;content: '\00BB';line-height: 35px;color: #4c4c4c;font-weight: 600;font-size: 1rem;} */
.mega-menu{background-color: #fff;}
h4.mega-title img{
  /* width: 2vw;height: 5vh; */
  margin-right: 0.5rem;}
.mega-menu ul li{transition: all 0.5s ease-in-out;transition-delay: 0.3s;}
.mega-menu ul li:hover a{color:#000;transition: all 0.3s ease-in-out;z-index: 99999;}
.mega-menu ul li:hover::before{color:transparent;}
.mega-menu ul li::before{top: 0;left: 0;content: '\00BB';
    position: absolute;
    line-height: 35px;color: #4c4c4c;font-weight: 600;font-size: 1rem;
    /* background-color: rgb(247 193 94 / 90%); */
    background-color: #ff521d;
    height: auto; 
    width: 0%;
    transition: width 0.5s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);}
.mega-menu ul li:hover::before{width: 100%;}
.img-box {overflow: hidden;object-fit: cover;width: 100%;height: 48vh;}
.img-box img {position: relative;transition: 0.5s;width: 100%;height: auto;margin-top: -4rem;}
.img-box:hover img{transform: scale(1.2, 1.2);opacity: 1;}
/*hover*/
.mega-menu:hover,
.mega-drop-down a:hover+.mega-menu{display:block;}
.mega-menu ul li:last-child a{border-bottom: 0px;}
/*responsive*/
 @media (min-width:767px){
.mega-menu{position:absolute;}
 }
@media (max-width:767px){
.mega-menu{position:relative;}
}
